


<div class="container" ng-controller="IndexController">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h1>PAMA</h1>
                <p>Save passwords without saving passwords.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>

            <div class="jumbotron">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" ng-model="masterPassword">
                </div>
            </div>

            {{masterPassword}}

            <div class="alert alert-info">{{prefix}}</div>

        </div>
    </div>
</div>